text{
    font-family: sans-serif;
    font-size: 11px;
    fill: #fff;
    text-anchor: middle;
}
.block{
    float: left;
    margin: 10px;
    border: 1px solid #000;
    padding: 10px
}
.tick text{
    fill: #000;
}
.horizontal{
    height: 500px;
    width: 300px;
}
.row{
    clear: both;
}
.label {
    fill: #000000;
    font-size: 14px;
}
.y.axis text, .bar text, .label {
    text-anchor: middle;
}
#navigator{
    float: left;
    margin: 10px;
    border: 1px solid black;
    padding: 10px
}
